/* resetando o CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* função para troca de propridades css */
:root{
  --text-color:white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --surface-color:rgb(255, 255, 255, 0.3);
  --switch-bg-url: url(./assets/mon-stars.svg);
}

/* mudança para o tema claro */
.light{
  --text-color:black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --surface-color:rgb(0, 0, 0, 0.02);
  --switch-bg-url: url(./assets/suun.svg);
}

/* imagem de fundo */
body {
  background:var(--bg-url) no-repeat top center/cover;
}

/* todas as fontes do site */
body * {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* onde esta a imagem e o nome */
.container {
  width: 360px;
  margin: 30px auto;
  text-align: center;
  padding: 0 24px;
}

.avatar img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 10px auto;
  border-radius: 100%;
  box-shadow: 0px 0px 10px 4px black;
}

p {
  color: var(--text-color); /* mudando de cor usando a variavel salva na funcção de troca de propriedades do css */
  font-weight: 500;
  line-height: 16px;
  margin: 20px auto;
  font-size: 25px;
  padding: 25px;
}

/* botao de troca de tema da pagina */
#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  left: 0;
  z-index: 1;
  transform: translateY(-10%);
}

.light #switch button{
  right: 0;
  left: initial;
}

#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--text-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
  
}

/* sobreposicao de imagens para alinhar o botao */
#switch{
  position: relative;
  width: 64px;
  height: 24px;
  margin:4px auto
  
}

/* estilização dos links */
ul {
  list-style: none;
  padding: 24px 0;
}

ul li {
  border: 1px solid var(--text-color);
  box-shadow: 0px 1px 10px 1px black;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  transition: 0.5s ease;
  background-color: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

ul li:hover {
  transform: scale(1.1);
  background-color: rgb(255, 255, 255, 0.3);
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bolder;
}

#social-link {
  color: var(--text-color);
  display: inline;
  justify-content: center;
  font-size: 24px;
}

#social-link .logo1{
  margin-right: 30px;
}

#social-link .logo2{
  margin-left: 30px;
}

/* rodapé da pagina */
footer{
  color:var(--text-color);
  padding: 20px;
  font-size: 14px;
  font-weight: 100;
}